@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
  color: white;
  background-color: #a277ff;
  padding: 0.1em 0.4em;
  border-radius: 0.8em 0.3em;
  text-shadow:
    0 0 0.75em black,
    0 0 0.75em black;
}
